button {
    padding: 0 20px;
    background-color: transparent;
    min-width: 150px;
    height: 45px;
    border: 2px solid white;
    border-radius: 22.5px;
    color: white;
    font-size: 18px;
    transition: .1s linear;

    &.strong {
        background-color: $main-color;
        border-color: $main-color;

        &:hover {
            background-color: $light-color;
            color: $main-color;
            font-weight: bold;
        }
    }
}
button:hover {
    cursor: pointer;
    border-width: 3px;
}