<div class="register-wrapper">
  <h1>Registration Form</h1>
  <p>Enter your information below to create a new user account.</p>
  <form>
    <div class="form-group">
      <input type="text" name="firstname" placeholder="Enter your first name" />
    </div>
    <div class="form-group">
      <input type="text" name="lastname" placeholder="Enter your last name" />
    </div>
    <div class="form-group">
      <input type="email" name="email" placeholder="Enter your email address" />
    </div>
    <div class="form-group">
      <input type="password" name="password" placeholder="Enter a password" />
    </div>
    <div class="form-group">
      <input type="password" name="passwordconfirm" placeholder="Confirm your password" />
    </div>
    <div class="button-group">
      <button class="strong">Submit</button>
    </div>
  </form>
</div>