<div class="nav-container" [ngClass]="{ 'active': overlay }">
    <div class="nav-bar active" [ngClass]="{ 'active': overlay }">
        <ul>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/meditate">Meditate</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/exercises" routerLinkActive="active">Exercises</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/tips" routerLinkActive="active">Mindfulness Tips</a>
          </li>
          <li class="button">
              <button>Register</button>
          </li>
          <li class="button">
            <button>Login</button>
          </li>
        </ul>
    </div>
    <div id="hamburger" class="hamburger" (click)="toggleOverlay()" [ngClass]="{ 'open': overlay }">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>