<div class="nav-container" [ngClass]="{ 'active': overlay }">
    <div class="nav-bar active" (click)="toggleOverlay()" [ngClass]="{ 'active': overlay }">
        <ul>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/main">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/breathe">Breathe</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/main/meditate">Meditate</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/main/exercises" routerLinkActive="active">Exercises</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a routerLink="/main/tips" routerLinkActive="active">Mindfulness Tips</a>
          </li>
          <li class="button" *ngIf="!authenticated">
              <button (click)="handleRegisterClick()">Register</button>
          </li>
          <li class="button" *ngIf="!authenticated">
            <button (click)="handleLoginClick()">Login</button>
          </li>
          <li class="user-info" [ngClass]="{ 'open': displayUserMenu }" *ngIf="authenticated">
            <a id="user-data-toggler" (click)="toggleUserMenu($event)">Hello, {{userData?.first_name}}</a>
            <ul class="submenu">
              <li>
                <a routerLink="/calendar" routerLinkActive="active">My Calendar</a>
              </li>
              <li>
                <a routerLink="/auth/logout" routerLinkActive="active">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
    </div>
    <div id="hamburger" class="hamburger" (click)="toggleOverlay()" [ngClass]="{ 'open': overlay }">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>