<div class="tip-container">
    <app-tip-item [tip]="tip"></app-tip-item>

    <div class="instructions">
        <h2>How do you apply these Mindfulness tips?</h2>    
        <ul>
            <li>You can certainly move forward with these Mindfulness tips, but don't try to apply them all at the same time</li>
            <li>Write down and carry the Mindfulness tips that suit you. Read them a few times a day so that they stay in your memory. If you are used to applying those Mindfulness tips you can try 1 or 2 new ones again.</li>
            <li>Take it easy and see what works best for you. No hurries, No worries, Be Mindful!</li>
        </ul>
    </div>
</div>