@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	padding: 0;
	margin: 0;

	*,
	a {
		font-family: 'Montserrat', sans-serif;
	}
}

a {
	text-decoration: none;
	color: rgb(216, 143, 8);
	&:hover {
		color: rgb(216, 143, 8);
	}
}
